.App {
  text-align: center;
}

body {
  background-color: #8ea5d4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: #5b5555;
}

a {
  color: #191970;
}
